<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <title>City Details</title>
    </head>
    <body>
    <div class="container">
        <h1>Things to do in {{context_city}}</h1>
        
        <form action="/add_todo/{{context_city}}" method="POST">
            {% csrf_token %}
            <label for="">To do</label>
            <input type="text" name="html_todo">
            <input type="submit">
            <a href="/reset_todo/{{context_city}}">Clear all</a>
        </form>

        <hr/>
        
                <table>
                    <tr>
                        <th>Agenda</th>
                    </tr>
        
                    {% for item in todo %}
        
                    <tr>
                        <td>{{item}}</td>
                    </tr>
                    {% endfor %}
                </table>
    </div>
    </body>
</html>