<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <title>Login and Register</title>
    </head>
    <body>
    <div class="container">
        <h1>Register</h1>
        <form action="/process" method="POST">
            First Name: <input type="text" name="f_name" placeholder="First Name"><br><br>
            Last Name: <input type="text" name="l_name" placeholder="Last Name"><br><br>
            Email Address: <input type="email" name="email" placeholder="Email"><br><br>
            Password: <input type="password" name="password" placeholder="Password"><br><br>
            Confirm Password: <input type="password" name="con_password" placeholder="Confirm Password"><br><br>
            <input type="submit">
        </form>
        <hr>
        <a href="/login">Login</a>
        {% with message = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %} 
    </div>
    </body>
</html>