/*Write all of your CSS here*/
*{
    width: 1000px;
}

.dash-product {
    width: 300px;
    height: 300px;
    display: inline-block;
    vertical-align: top;
}

.dash-product-pic {
    width: 200px;
    height: 200px;
}