*{
    margin: 5px;
}

.left{
    display: inline-block;
    vertical-align: top;
}

#form{
    display: inline-block;
    vertical-align: top;
    margin: 2px;
}

option {
    display: inline-block;
    vertical-align: top;
}