<html>
    <head>
        <link rel="stylesheet" href="css/style.css"/>
        <title>Dojo Survey</title>
    </head>
    <body>
        <h1>Submitted Info</h1>
        <p>Name: @ViewBag.yourName</p>
        <p>Location: @ViewBag.Location</p>
        <p>Favorite Language: @ViewBag.favLang</p>
        <p>Comments: @ViewBag.addlComm<p>
        <a href="/home">Back</a>
    </body>
</html>