<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <title>Add New User</title>
    </head>
    <body>
    <div class="container">
        <h1>Add a New User</h1>
        <form action="/users/create" method="POST">
            {% csrf_token %}
            First name: <input type="text" name="first_name" placeholder="First Name"><br><br>
            Last name: <input type="text" name="last_name" placeholder="Last Name"><br><br>
            Email: <input type="email" name="email" placeholder="Email"><br><br>
            <input type="submit" value="Create">
        </form>
        <hr>
        <a href="/users">Go back</a>
        {% if messages %}
            {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        {% endif %}
    </div>
    </body>
</html>