@{
    ViewData["Title"] = "Woods Homepage";
}

@model woods2.Models.Wrapper

<h1>Lost in the Woods</h1>
<h2>List of local hiking trails</h2>

@if (Model != null)
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Trail Name</th>
                <th>Trail Length</th>
                <th>Trail Elevation</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var trail in Model.Trails)
            {
                <tr>
                    <td><a href="/trails/@trail.TrailId">@trail.TrailName</a></td>
                    <td>@trail.Length</td>
                    <td>@trail.Elevation</td>
                </tr>
            }
        </tbody>
    </table>
}

<hr>
<a href="/newTrail">Add Trail</a>