<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <title>Register</title>
    </head>
    <body>
    <div class="container">
        <h3>Register as a new user:</h3>
        <form>
            First Name: <input type="text" name="firstName" placeholder="Enter your first name"><br><br>
            Last Name: <input type="text" name="lastName" placeholder="Enter your last name"><br><br>
            Email: <input type="email" name="email" placeholder="Enter your email"><br><br>
            Birthday: <input type="date" name="birthday"><br><br>
            Password: <input type="password" name="password" placeholder="Enter a password"><br><br>
            Confirm Password: <input type="password" name="confirmPassword" placeholder="Confirm password"><br><br>
            <input type="submit" value="Register!">
        </form>
    </div>
    </body>
</html>