<h1>Plan Your Wedding</h1>
<form action="/add" method="POST">
    Wedder One: <input type="text" name="Bride" placeholder="Wedder One"><br><br>
    Wedder Two: <input type="text" name="Groom" placeholder="Wedder Two"><br><br>
    Date: <input type="date" name="date"><br><br>
    <input type="submit" value="Create wedding">
</form>
<hr>
<p><a href="/dashboard">Home</a> | <a href="/logout"></a></p>