<h1>Bride & Groom's Wedding</h1>
<h2>Date: date</h2>
<h3>Guests:</h3>
<ul>
    <li>Guest</li>
    <li>Guest</li>
    <li>Guest</li>
</ul>
<hr>
<p><a href="/dashboard">Home</a> | <a href="/logout"></a></p>