<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <title>User Homepage</title>
    </head>
    <body>
    <div class="container">
        <h1>Welcome {{ user.first_name }}!</h1>
        <table class="table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Created At</th>
                    <th>Admin Level</th>
                </tr>
            </thead>
            <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td><a href="/users/{{user.id}}/show">{{ user.first_name }} {{ user.last_name }}</a></td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.created_at }}</td>
                        <td>{{ user.admin_level }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr>
            <p><a href="/users/edit/{{ request.session.id }}">Edit Profile</a> | <a href="/logout">Log Out</a><p>
        </div>
    </body>
</html>