<h1>@ViewBag.Ninja.Name</h1>

<h3>Ninja level: @ViewBag.Ninja.Level</h3>

<h3>Description:</h3>
<p>@ViewBag.Ninja.Description</p>

<li>Current Dojo: <a href="/dojos/@ViewBag.CurrentDojo.Id">@ViewBag.Ninja.DojoName</a></li>