<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
      <title>Add a New Car</title>
    </head>
    <body>
    <div class="container">
        <form>
            Make: <input type="text" name="make" placeholder="Manufacturer"><br><br>
            Model:<input type="text" name="model" placeholder="Model"><br><br>
            Year: <input type="number" name="year"><br><br>
            Mileage: <input type="number" name="miles"><br><br>
            <input type="submit" value="Add">
        </form>
    </div>
    </body>
</html>