@{
    ViewData["Title"] = "Home Page";
}
<h1>Welcome to the User Dashboard App!</h1>
<h2>Functions: </h2>
<p>This application was built to manage users and message boards.</p>
<hr>
<a href="/register">Click here to get started!</a>