.red {
    color: red;
    margin: 10px;
}

.orange {
    color: orange;
    margin: 10px;
}

.green{
    color: green;
    margin: 10px;
}

.black{
    color: black;
    margin: 10px;
}

.blue{
    color: blue;
    margin: 10px;
}