<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <title>Registration Homepage</title>
    </head>
    <body>
    <div class="container">
        <h2>Register</h2>
        <p *ngIf="submitted">Thank you for registering, {{ user.firstName }}! We just sent you a confirmation email at {{ user.email }}, and we will send all mail to {{ user.address }}, {{ user.city }}, {{ user.state }}. Have a wonderful day!</p>
        <form #userForm="ngForm" (submit)="onSubmit()">
          First Name: <input type="text" name="firstName" placeholder="Enter your first name" required minlength="4" [(ngModel)]="user.firstName" #firstName="ngModel"><br><br>
          Last Name: <input type="text" name="lastName" placeholder="Enter your last name" required minlength="4" [(ngModel)]="user.lastName" #lastName="ngModel"><br><br>
          Email: <input type="email" name="email" placeholder="Enter your email" required minlength="4" [(ngModel)]="user.email" #email="ngModel"><br><br>
          Password: <input type="password" name="password" placeholder="Enter a password" required minlength="8" [(ngModel)]="user.password" #password="ngModel"><br><br>
          Confirm Password: <input type="password" name="confirmPassword" placeholder="Confirm your password"><br><br>
          Street Address: <input type="text" name="address" placeholder="Enter your street address" required minlength="4" [(ngModel)]="user.address" #address="ngModel"><br><br>
          Unit/Apt #: <input type="text" name="unit" placeholder="Enter your apartment if applicable"><br><br>
          City: <input type="text" name="city" placeholder="Enter your home city" required minlength="4" [(ngModel)]="user.city" #city="ngModel"><br><br>
          State: <select name="state" required [(ngModel)]="user.state" #state="ngModel">
            <option value="alabama">Alabama</option> 
            <option value="alaska">Alaska</option> 
            <option value="arizona">Arizona</option> 
            <option value="arkansas">Arkansas</option> 
            <option value="california">California</option> 
            <option value="colorado">Colorado</option> 
            <option value="delaware">Delaware</option> 
            <option value="florida">Florida</option> 
            <option value="georgia">Georgia</option> 
            <option value="hawaii">Hawaii</option> 
            <option value="idaho">Idaho</option> 
            <option value="illinois">Illinois</option> 
            <option value="indiana">Indiana</option> 
            <option value="iowa">Iowa</option> 
            <option value="kansas">Kansas</option> 
            <option value="kentucky">Kentucky</option> 
            <option value="louisiana">Louisiana</option> 
            <option value="maine">Maine</option> 
            <option value="maryland">Maryland</option> 
            <option value="massachusetts">Massachusetts</option> 
            <option value="michigan">Michigan</option> 
            <option value="minnesota">Minnesota</option> 
            <option value="mississippi">Mississippi</option> 
            <option value="missouri">Missouri</option> 
            <option value="montana">Montana</option> 
            <option value="nebraska">Nebraska</option> 
            <option value="nevada">Nevada</option> 
            <option value="newHampshire">New Hampshire</option> 
            <option value="newJersey">New Jersey</option> 
            <option value="newMexico">New Mexico</option> 
            <option value="newYork">New York</option> 
            <option value="northCarolina">North Carolina</option> 
            <option value="northDakota">North Dakota</option> 
            <option value="ohio">Ohio</option> 
            <option value="oklahoma">Oklahoma</option> 
            <option value="oregon">Oregon</option> 
            <option value="pennsylvania">Pennsylvania</option> 
            <option value="rhodeIsland">Rhode Island</option> 
            <option value="southCarolina">South Carolina</option> 
            <option value="southDakota">South Dakota</option> 
            <option value="tennessee">Tennessee</option> 
            <option value="texas">Texas</option> 
            <option value="utah">Utah</option> 
            <option value="vermont">Vermont</option> 
            <option value="virginia">Virginia</option> 
            <option value="washington">Washington</option> 
            <option value="westVirginia">West Virginia</option> 
            <option value="wisconsin">Wisconsin</option> 
            <option value="wyoming">Wyoming</option> 
          </select><br><br>
          I'm feeling lucky: <input type="radio" name="luck" value="yes" required [(ngModel)]="user.luck" #luck="ngModel">Yes <input type="radio" name="luck" value="no" required [(ngModel)]="user.luck" #luck="ngModel">No<br><br>
          <input type="submit" value="Register">
        </form>
        <hr>
        <ul>
          <li *ngIf="firstName.errors.required">First name is required</li>
          <li *ngIf="firstName.errors.minlength && !firstName.errors.required">First name must be at least 4 characters</li>
          <li *ngIf="lastName.errors.required">Last name is required</li>
          <li *ngIf="lastName.errors.minlength && !lastName.errors.required">Last name must be at least 4 characters</li>
          <li *ngIf="email.errors.required">Email is required</li>
          <li *ngIf="email.errors.minlength && !email.errors.required">Email must be at least 4 characters</li>
          <li *ngIf="password.errors.required">Password is required</li>
          <li *ngIf="password.errors.minlength && !password.errors.required">Password must be at least 8 characters</li>
          <li *ngIf="address.errors.required">Street address is required</li>
          <li *ngIf="address.errors.minlength && !address.errors.required">Street address must be at least 10 characters</li>
          <li *ngIf="city.errors.required">City is required</li>
          <li *ngIf="city.errors.minlength && !city.errors.required">City must be at least 4 characters</li>
          <li *ngIf="state.errors.required">State is required</li>
        </ul>
    </div>
    </body>
</html>